.add-btn {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list-heading {
  padding: 20px;
  font-weight: 700;
  font-size: 24px;
}

.cpt-table {
  padding: 0px 20px;
}

